.tui-full-calendar-timegrid-hourmarker-time {
    display: none;
}
.tui-full-calendar-timegrid-todaymarker {
    display: none;
}
.tui-full-calendar-timegrid-hourmarker-line-left {
    display: none;
}
.tui-full-calendar-timegrid-hourmarker-line-today {
    display: none;
}
.tui-full-calendar-timegrid-hourmarker {
    display: none;
}